<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LatheBug</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="font-['helvetica_now_display']">
    <nav class="w-full flex justify-between px-5 py-3 bg-blue-500 text-white">
        <h3 class="text-xl"><a href="/">LatheBug</a></h3>
    
        <% 
            var loggedIn = typeof loggedIn !== "undefined" ? loggedIn : true; 
        %>
    
        <div class="flex gap-5">
            <a href="/shop">Shop</a>
            <% if (loggedIn) { %>
                <a href="/cart">Cart</a>
                <a href="/account">My Account</a>
                <a class="text-red-500" href="/logout">Logout</a>
            <% } else { %>
                <a href="/">Login</a>
            <% } %>
        </div>
    </nav>
</body>

</html>
